<a href="https://colab.research.google.com/github/CoolerKula/Hello-world/blob/master/Time_Series_Analysis_and_Forecasting_Project_Bernard_Kula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Statement**

Sweet Lift Taxi company has collected historical data on taxi orders at airports. To attract more
drivers during peak hours, we need to predict the number of taxi orders for the next hour. Build a
model for such a prediction.
The RMSE metric on the test set should not be more than 48.

**Project Instructions**

● Structure your notebook i.e. Defining the Problem, Data Importation, Exploration,...
Recommendations etc.

● Download the data and resample it by one hour.

● Analyze the data.

● Train different models with different hyperparameters. The test sample should be 10% of
the initial dataset.

● Test the data using the test sample and provide a conclusion.

In [2]:
#Import libraries
import pandas as pd

In [3]:
#Import Data
Data = pd.read_csv('https://bit.ly/3p1QPAv')
Data.head()

              datetime  num_orders
0  2018-03-01 00:00:00           9
1  2018-03-01 00:10:00          14
2  2018-03-01 00:20:00          28
3  2018-03-01 00:30:00          20
4  2018-03-01 00:40:00          32

In [5]:
Data = pd.read_csv('https://bit.ly/3p1QPAv', index_col=[0], parse_dates=[0])

Data.sort_index(inplace=True)
print(Data.index.is_monotonic)
# print(Data.info())
Data

True

                     num_orders
datetime
2018-03-01 00:00:00           9
2018-03-01 00:10:00          14
2018-03-01 00:20:00          28
2018-03-01 00:30:00          20
2018-03-01 00:40:00          32
...                         ...
2018-08-31 23:10:00          32
2018-08-31 23:20:00          24
2018-08-31 23:30:00          27
2018-08-31 23:40:00          39
2018-08-31 23:50:00          53

[26496 rows x 1 columns]